html, body{
    margin: 0%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10pt;
    background: #fff;
}
section{
    height: 100%;

    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 30px;
}
section .header{
    grid-column: 1 / span 2;
    background: linear-gradient(90deg,rgb(203, 243, 187), rgb(236, 244, 232) );
    line-height:50px ;

    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .menu{
    background:rgb(235, 206, 177);
}
section .workspace{
    background:rgb(255, 248, 212);
}
section .footer{
    grid-column: 1 / span 2;
    background: linear-gradient(90deg, rgb(203, 243, 187), rgb(236, 244, 232) );
    align-items: center;
    display: flex;
    justify-content: center;
}
section .header .logo{
    margin-left: 10px;
    font-size: 14pt;
    font-weight: bold;
}
section .header .userinfo{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
section .header .userinfo img{
    height:20px;
    margin-left: 7px;
}
section .header .userinfo img:hover{
    cursor: pointer;
    opacity: 0.7;
}
section .menu nav{
    height: 100%;
    overflow: auto;
}
section .menu nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
section .menu nav ul li{
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    border-left: 5px solid transparent;
    padding-left: 5px;

    display: flex;
    align-items: center;
}
section .menu nav ul li img{
    height: 16px;
    margin-right: 10px;
}
section .menu nav ul li.active,
section .menu nav ul li:hover{
    cursor: pointer;
    background: #334155;
    border-left: 5px solid #fff;
}
